@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    background-color: indigo;
    
}

  body {
    font-size: 12px; 
    overflow-x: hidden;
  }
  
 
  input, p, tr, th, td, button, select{
    font-size: 1.3em !important; 
    
  }

  input{
    width: 200px;
  }

  .signup-input{
    width: unset !important;

  }


   .select-font {
    font-size: 1.7em !important;
    appearance: none; 
    padding: 0.5em; 
    margin: 0; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    width: 200px !important;  
    background-color: grey;
  }

    .label-font{
        font-size: 1.7em !important;
    }

  /* input{
    width: 150px;
  } */

  .sticky-thead{
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Adjust the background color as needed */
    z-index: 3;
  }

  .sticky-col {
    position: sticky;
    left: 0;
    z-index: 2;
    @apply bg-gray-900 bg-opacity-95
}


  .table-container {
    /* height: 500px; 
    width: 1400px; */
    height: calc(100vh - 310px);
   width: calc(100vw - 20px);
    overflow: auto; 
  }


  .actual-head th:nth-child(even) {
    background-color: #000000; /* Set the background color for even elements */
  }

  .actual-head th:nth-child(odd) {
    @apply bg-gray-900 bg-opacity-95
  }

  
.color th:nth-child(n+7):nth-child(-n+11),
.color th:nth-child(n+17):nth-child(-n+20) {
  background-color: #000000; /* Set the background color for the specified range */
}


.color th:nth-child(n+1):nth-child(-n+6),
.color th:nth-child(n+12):nth-child(-n+16),
.color th:nth-child(n+21):nth-child(-n+22) {
  @apply bg-gray-900 bg-opacity-95
}

.weighedTotal{
  background-color: #000000 !important; 
}
